.footer {
  background-color: $darkBlue;
  color: white;
  padding-top: 40px;
  text-align: center;
  ul {
    list-style: none;
    line-height: 1.8;
  }
  a {
    color: white;
    margin-left: 6px;
  }

  &__container {
    display: flex;

    justify-content: space-around;

    &__links {
      color: white;
      display: inline-block;
    }
  }
  &__copyright {
    margin-top: 20px;
    padding-bottom: 10px;
    color: rgb(128, 124, 124);
  }

  span {
    color: red;
  }
}
